#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.car{
  background-color: beige;
  border: 2px solid aqua;
  color: black;
  border-radius: 5px;
  display: inline-block;
  margin: 12px;
}

.car img{
  width: 250px;
}